.custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .custom-modal-content {
    background-color: #2f2b3a;
    border-radius: 18px;
    padding: 40px 20px;
    max-width: 550px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .custom-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .custom-modal-header h2 {
    margin: 0;
    font-size: 18px;
    color: #fff;
  }
  
  .close-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #aaa;
  }
  
  .custom-modal-body {
    margin-bottom: 20px;
      
  .filter-group {
    margin-bottom: 15px;
  }
  
  .filter-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    color: #fff;
    font-size: 14px;
  }
  
  .range-inputs {
    display: flex;
    gap: 10px;
  }
  
  .range-inputs input {
    width: 50%;
    padding: .75rem 1rem;
    border: 1px solid #46424f;
    border-radius: 8px;
    background-color: #46424f;
    color: #fff;
  }
  
  .custom-select-container {
    width: 100%;
  }
  
  .custom-modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .cancel-btn,
  .apply-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
   .custom-select__control{
    padding: 0.2rem 1rem;
    border: 1px solid #46424f;
    border-radius: 8px;
    background-color: #46424f;
   }
   .custom-select__menu{
    border-radius: 8px;
    background-color: #46424f;
   }
   .react-select__option{
    color: #fff !important;
   }
  
  }
  .custom-modal-footer{
    display: flex;
    justify-content: flex-end;
    
  
  .apply-btn {
    background-color: #1a1625;
    color: white;
    padding: 14px 20px;
    border-radius: 10px;
    border:none;
    cursor: pointer;
  }
  }
  

  @media screen and (max-width:767px){
    .custom-modal-content{
      max-width: 95%;
    }
  }
   
  input::placeholder{
    color: #fff;
  }

  select{
    color: #fff;
  }
  select option{
    color: #fff;
  }
  