.contentWrapper {
    width: 100%;
    margin: 0 auto;
    padding:0px 15px;
    position: relative;
    max-width: 1380px;
}

@media screen and (max-width:767px){
    .contentWrapper{
        max-width: 100%;
    }
}