@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root {
font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black: #1a1625;
  --black2: #2f2b3a;
  --black3: #46424f;
  --black-lighter: #5e5a66;
  --black-light: #76737e;
  --pink: #da2f68;
  --orange: #f89e00;
  --gradient: linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
div,span,h1,h2,h3,h4,h5,h6,p{
  font-family: "Rubik", sans-serif;
  line-height: 1.2rem;
}
body {
  background-color: var(--black);
}

button{
  background-color: transparent;
  border: none;
}
.skeleton {
  position: relative;
  overflow: hidden;
  background-color: var(--black2);
  &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(
          90deg,
          rgba(#2f2b3a, 0) 0,
          rgba(#2f2b3a, 0.2) 20%,
          rgba(#2f2b3a, 0.5) 60%,
          rgba(#2f2b3a, 0)
      );
      animation: shimmer 2s infinite;
      content: "";
  }

  @keyframes shimmer {
      100% {
          transform: translateX(100%);
      }
  }
}

